.contacts{
    height: 750px;
}

._show-contacts{
    opacity: 0;
    transition: all 1.5s ease 0s;
}

._show-contacts ._active,
._active ._show-contacts{
    opacity: 1;
    transform: translate(0px, 0px);
}


.con-title{
    position: absolute;
    left: 97px;
    top: 112px;
    font-size: 40px;
    transform: translate(16%, 0px);
}

.google-map{
    position: absolute;
    left: 98px;
    top: 204px;
    width: 574px;
    height: 399px;
    border: 1px solid black;
    transition: opacity 1.5s ease .5s;
}

.con-content{
    position: absolute;
    font-size: 25px;
    left: 754px;
    top: 217px;
}

.title-con-content{
    font-size: 40px;
    transform: translate(-16%, 0px);
}

.tel{
    background-image: url('../assets/telephone.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 16px;     
}
.tel, .tel-content{
    transition: opacity 1.5s ease .6s;
}

.facebook{
    background-image: url('../assets/Facebook_Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 16px;      
}

.facebook, .facebook-content{
    transition: opacity 1.5s ease .7s, color .5s ease 0s;
}

.telegram{
    background-image: url('../assets/Telegram_Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 16px;      
}

.telegram, .telegram-content{
    transition: opacity 1.5s ease .8s,color .5s ease 0s;
}

.whatsapp{
    background-image: url('../assets/WathsApp_Logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    top: 20px;      
}

.whatsapp, .whatsapp-content{
    transition: opacity 1.5s ease .9s, color .5s ease 0s;
}

.con-contect-text{
    left: 60px;
    bottom: 20px;
    color: black;
}
.con-contect-text:hover{
    color: #f8f6f5; /*f8f6f5*/
}
