.how-it-works{
    height: 750px;
}

.hiw-title{
    position: absolute;
    left: 736px;
    top: 142px;
    font-size: 40px;
    line-height: 1.1;
    text-align: center;
    opacity: 0;
    transition: all 1.5s ease 0s;
}

.hiw-title._active{
    opacity: 1;
}

.image-porshe{
    width: 541px;
    height: 265px;
    left: 564px;
    top: 406px;
    position: absolute;
    background-image: url('../assets/hiw_porshe.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(-5%, 0px);
    opacity: 0;
    transition: all 1.5s ease 0s;
}

.image-porshe._active{
    opacity: 1;
    transform: matrix(-1, 0, 0, 1, 0, 0) translate(0px, 0px);
}

.hiw-content{
    font-size: 30px;
    position: absolute;
    left: 113px;
    top: 274px;
    opacity: 0;
    transition: all 1.5s ease 0s;
}

.hiw-content._active{
    opacity: 1;
}

.hiw-content._hide{
    opacity: 0;
}

.title-point{
    font-size: 24px;
    font-weight: bold;
    fill: black;
}

.points{
    position: absolute;
    left: 91px;
    top: 119px;
}

.step-title{
    text-align: center;
}

.button-np{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    top: 544px;
    opacity: 0;
    transition: all 1.5s ease 0s;
}

    .next-step{
        left: 315px; 
    }

    .prev-step{
        left: 158px;
    }
    
    .button-np._active{
        opacity: 1;
    }

    .button-np._hide{
        opacity: 0;
    }
   
    
    
.one-step,
.next-step{
    display: block;

}

.two-step,
.three-step,
.four-step,
.prev-step{
    display: none;
}