
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

:root {
    --main-text-color: #F4C84B;
    --second-text-color: #353B48;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto';
    font-weight: bold;
    background: #5F787B;
    background-size: cover;
    min-width: 340px;
}

.shadow{
  
height: 100%;
background-size: cover;
background: rgba(0, 0, 0, 0.01);
box-shadow: inset 0px 0px 200px 100px rgba(0, 0, 0, 0.25);
min-width: 340px;
}

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 80vh;
}

.header,.page-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}



.nav-bar-wrapper {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0 30px;
    color: var(--main-text-color);
    cursor: default;
}

.nav-logo-wrapper {
    position: relative;
    font-family: 'Irish Grover', sans-serif;
}

.nav-logo{
    position:absolute;
    background-image: url('../assets/logo-car.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 33px;
    top: 5px;
   
}
.nav-title{
    display: inline-block;
    left: 43px;
    top: 9px;
    font-style: normal;
    font-size: 30px;
}



.nav-menu-item {
    font-size: 20px;
    line-height: 100%;
    padding-left: 32px;
    top: -5px;
}

.nav-menu-item:nth-child(3){
    padding-right: 64px;
}

.nav-menu-icon {
    display: inline-block;
    background-image: url(../assets/Icon.svg);
    background-position: center;
    background-size: cover;
    top: 7px;
    width: 40px;
    height: 45px;
}



.registration-section {
    width: 100%;
}

.select-wrapper {
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


.button-up{
    position: absolute;
    width: 340px;
    height: 87px;
    top: 270px;
    font-size: 40px;
    line-height: 80px; 
    text-align:center;
    color: var(--second-text-color);
    background: #F4C84B;
    border-radius: 25px;
    cursor: pointer;
}



.car-image-wrapper{
    position: absolute;
    top: -250px
}


.registration-form-wrapper{
    position: absolute;
    width: 625px;
    height: 433px;
    top: -200px;
    background: #F0EEEF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 40px;
    color: var(--second-text-color);
    display: none;
}



.form-title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    top: 25px;
    padding-bottom: 50px;
}

.form-label{
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    left: 65px;
}

.form-input{  
    display: inline-block;
    left: 62px;
    width: 500px;
    height: 50px;
    background: #FFFDFD;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
}


.form-submit-button{
    width: 300px;
    height: 75px;
    top: 45px;
    left: 160px;
    font-size: 30px;
    line-height: 70px; 
    text-align:center;
    color: var(--second-text-color);
    background: #F4C84B;
    border-radius: 10px;
    cursor: pointer;
}

.registration-form{
    display: flex;
    flex-direction: column;
}



.footer {
    position: fixed;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: var(--second-text-color);
}

  

.swiper {
    width: 80%;
  }

  .swiper-slide {
    text-align: center;
 
  }

  .swiper-button-next::after, 
  .swiper-button-prev::after {
      color: #F4C84B;
      font-size: 70px;
      font-weight: 900;
  }
